NODE_ENV=development # development or production
BRAND_NAME=MiroTalk C2C
LOGO_URL=
FAVICON_URL=
HOST=http://localhost:8080
PORT=8080
LOGS_JSON=false
LOGS_JSON_PRETTY=false
TRUST_PROXY=false
TZ=Asia/Tehran

CORS_ORIGIN=["https://example.com", "https://subdomain.example.com", "http://localhost:3000"]
CORS_METHODS=["GET", "POST"]
ALLOWED_EMBED_ORIGINS=https://yourdomain.com,https://*.partner.com

STUN_SERVER_ENABLED=true
STUN_SERVER_URL=stun:YOUR_OWN_STUN_SERVER:19302

TURN_SERVER_ENABLED=true
TURN_SERVER_URL=turn:YOUR_OWN_TURN_SERVER:3478
TURN_SERVER_USERNAME=YOUR_OWN_USERNAME
TURN_SERVER_CREDENTIAL=YOUR_OWN_STRONG_PASSWORD

API_KEY_SECRET=default_secret

REDIRECT_URL= https://yourdomain.com